.navbar-brand {
  font-size: 28px;
}
header{
  position: sticky;
  top: 0;
  left: auto;
  right: auto;
  z-index: 100000;
  background: #FFFDF5DD;
  backdrop-filter:blur(8px);
  -webkit-backdrop-filter:blur(8px);
}
.border-tran {
  border: transparent;
}

.mylogo {
  width: 96px;
  display: inline-block;
}

header .form-control {
  border: $gray-200 1px solid;
  border-radius: 100px;
}

.btn.mybtn {
  line-height: 0;
  position: relative;
  right: 48px;
  color: $accent-200;
  border-radius: .125rem 100px 100px 0.125rem;
  display: flex;
  align-items: center;
  border: unset;
}

a.navbar-brand {
  line-height: 0
}

.navbar {
  border-bottom: 1px solid $gray-300;
  padding: 36px 0;
  margin: 0;
}
.navbar-nav{
  align-items: center;
}       
header.container {
  margin: 0 auto
}

.container-fluid {
  padding: 0
}

.login {
  background: $accent-200;
  color: $accent-100;
  padding: 16px 24px;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all .25s ease-in-out;
  border: transparent;
}

.login:hover {
  background: $accent-300;
}

.mylink {
  text-decoration: none;
  color: inherit;
  padding: 8px 20px;
  display: inline-block;
  font-weight: 900;
}
.navbar-nav{
  height: 100%;
}
.nav-item {
  padding: 0 10px;
}

.header .container {
  margin: 0;
}

@media (max-width:1200px) and (min-width:991px) {
  .login {
    padding: 16px;
    white-space: nowrap;
  }

  .nav-item {
    white-space: nowrap;
  }
}
@media (max-width:991px) {
  .navbar-collapse.navbar-collapse{
    height: calc(100vh);
    overflow-y: hidden;
  }
  .nav-item{
    width: 100%;
    padding: 0;
    overflow-y: hidden;
    // height: calc( 20vh - 1rem);
  }
  .mylink.mylink{
    width: 100%;
  }
  .navbar-nav .login{
    width: 100%;
    display: inline-block;
  }
}
@media (max-width: 575px) {
  .navbar {
    padding: 20px 12px
  }
}