// 自定义变量
$primary: #E8E3DA; // 自定义主色调

$accent-100:#e0efde;
$accent-200:#569573;
$accent-300:#406c55;
$pimary-100:#FFFDF5;
$-pimary200:#FFFBE5;
$pimary-300:#E8E3DA;
$pimary-400:#6E6B67;
$gray-100:#f8f9fa;
$gray-200:#dee2e6;
$gray-300:#adb5bd;
$gray-400:#6c757d;
$gray-500:#343a40;
$gray-600:#212529;




// 引入 Bootstrap 源码文件
// @import "node_modules/bootstrap/scss/bootstrap";
@import"../../../node_modules/bootstrap/scss/bootstrap.scss";