
body {
	background: #FFFDF5;
	font-family: "Noto Serif TC";
	font-weight: 700;
	color: #343a40;
	letter-spacing: 2px
}
.banner {
	margin: 80px 0;
	padding: 228px 61px
}
.banner-title {
	color: #fff
}
.banner-title .login,.banner-title h2 {
	font-weight: 900
}
.banner-title h5 {
	font-weight: 900;
	font-size: 20px;
	line-height: 24px
}
.banner-title h2 {
	font-size: 40px;
	line-height: 48px;
	padding-bottom: 24px
}
.banner-title .login {
	letter-spacing: 4px
}
h2 {
	font-weight: 900;
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 24px
}
.mycard {
	border-radius: 20px 0;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative
}
.mycard h5 {
	position: absolute;
	top: calc(50% - 12px);
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-weight: 900
}
.container {
	margin: 80px auto
}
.mycol {
	position: relative
}
.swiper-container {
	width: 100%;
	height: 100%
}
.mycol {
	justify-content: flex-end;
	flex-direction: row-reverse;
	position: relative
}
.mycol .card {
	border-radius: 0;
	text-align: left;
	border: 0;
	background: #FFFDF5
}
.mycol .card h5 {
	font-weight: 900
}
.mycol .card p {
	font-size: 16px;
	line-height: 24px;
	color: #6c757d;
	font-weight: 600
}
.mycol .card-body {
	background: #FFFDF5
}
.card-body {
	padding: 24px 0
}
.mycol .card-foot {
	margin: 0;
	padding: 0 0 24px;
	border-bottom: 1px solid #343A40
}
.rm {
	font-family: Roboto Mono;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 24px;
	color: #569573;
	display: flex;
	justify-content: space-between
}
.badge {
	background: #E8E3DA;
	color: #6e6b67;
	font-family: "Noto Serif TC";
	font-weight: 700;
	padding: 4px 8px
}
.swiper-pagination {
	width: auto;
	bottom: 3rem
}
.swiper-btn {
	display: inline-block;
	position: absolute;
	border: 1px solid #6C757D;
	top: calc(100% - 16px);
	padding: 4px 16px;
	border-radius: 100px;
	background: #FFFDF5;
	transition: all .25s ease-in-out
}
.swiper-btn:hover {
	background: #569573;
	color: #fff;
	border: 1px solid #569573
}
.bi {
	position: relative;
	bottom: 3px
}
.swiper-button-prev-new {
	left: 0
}
.swiper-button-next-new {
	left: 16.666665%
}
.myhrr {
	border: 1px solid #6C757D;
	position: relative;
	top: calc(100% - 62px);
	z-index: -1;
	margin: 0 calc(50% + 16px) 0 52px;
	display: none
}
.mybg {
	background: #FFFBE5;
	position: relative
}
.mon {
	margin: 80px auto;
	flex-direction: column;
	align-items: center;
	z-index: 10
}
.mon ul {
	list-style-type: "\2714"
}
.bg1 {
	position: absolute;
	bottom: 0;
	right: 15%
}
.bg2 {
	position: absolute;
	bottom: 0;
	left: 15%
}
.mon ul li {
	padding: 8px 0 8px 10px;
	color: #6c757d
}
.card.mybg1 {
	background: #FFF;
	border-radius: 12px;
	padding: 56px
}
.card.mybg1 h3 {
	color: #569573;
	font-weight: 900
}
.mySwiper1 ul {
	list-style-type: none;
	padding-left: 0
}
.mySwiper1 ul li {
	padding: 10px 0;
	font-size: 16px
}
.img-box {
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	justify-content: space-between
}
.img-box .img-fluid {
	max-width: 25%!important
}
.mybar {
	margin: 30px 0
}
.myspan {
	color: #569573;
	font-weight: 700;
	display: block
}
.col-3.mybg1 {
	background: #FFF;
	border-radius: 12px;
	padding: 30px
}
.swiper-pagination-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0
}
.my-pagination-clickable,.swiper-pagination-2 .swiper-pagination-bullet {
	width: 100%;
	margin: 5px;
	line-height: 10px;
	padding: 16px;
	background: #FFF;
	color: #000;
	opacity: 1;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	box-sizing: content-box
}
.swiper-pagination-bullet-active,.swiper-pagination-bullet.active {
	background: #E0EFDE!important
}
.swiper-button-prev-new1 {
	left: unset;
	right: 18%;
	top: 110%
}
.swiper-button-next-new1 {
	left: unset;
	right: 16px;
	top: 110%
}
.single-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.multiline-ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	overflow: hidden
}
.card.live {
	border-radius: 0;
	background-color: transparent;
	border: unset
}
.card.live h3 {
	font-size: 52px;
	font-weight: 900;
	color: #6e6b67;
	margin: 36px 0
}
.card.live .card-body {
	padding: 0
}
.card.live .card-body:nth-child(3) {
	padding: 36px 0;
	font-size: 20px;
	line-height: 24px;
	color: #343a40;
	font-weight: 900
}
.card.live .card-foot {
	display: flex;
	justify-content: center
}
.card.live .img-fluid {
	width: 100%
}
.bbbbox {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	padding: 18em 0
}
.bbaa {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 28px
}
.bbaa.rr {
	position: relative;
	top: -12px
}
.bbaa .card {
	width: 100%;
	height: 290px
}
.hot-tag {
	position: relative;
	top: -16px;
	left: 8px;
	display: inline-block;
	align-self: flex-start;
	padding: 4px 8px;
	border-radius: 4px;
	border: #E0EFDE 1px solid;
	color: #406c55!important
}
.babox {
	background: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.8666666667));
	display: flex;
	justify-content: space-between;
	padding: 8px 12px
}
.bbaa.rr .card {
	position: absolute;
	top: 28px!important
}
.bbaa .card {
	flex-direction: column;
	justify-content: space-between;
	color: #fff
}
.style-contain {
	background: #FFFBE5;
	padding: 40px 0
}
.bbbbbox {
	justify-content: space-between
}
.box-r {
	flex-direction: column;
	align-items: flex-end
}
@media (max-width: 767px) {
	.container.myco {
	margin: 48px auto 80px
}
.swiper-pagination {
	position: absolute;
	top: 107%;
	left: 1rem
}
.swiper-button-prev-new {
	top: 107%;
	right: 22.22222%;
	left: unset
}
.swiper-button-next-new {
	left: unset;
	right: 1rem;
	top: 107%
}
.img-fluid {
	width: 100%
}
.img-box .img-fluid {
	max-width: 100%!important;
	width: 100%
}
.mybar.justify-content-between {
	flex-direction: column
}
.mybar div {
	display: flex;
	padding: 12px 0;
	width: 100%;
	align-items: center;
	justify-content: center
}
.mybar div:nth-child(2) {
	text-align: center
}
.card.mybg1 {
	padding: 16px
}
.img-box {
	border-radius: 20px
}
.bg1 {
	position: absolute;
	bottom: 0;
	right: 10%!important
}
.container {
	margin: 48px auto
}
.swiper-wrapper {
	height: 110%
}
.bbaa .card {
	margin: 20px 0
}
h2 {
	font-size: 24px;
	line-height: 28px
}
.banner {
	margin: 40px auto;
	padding: 337px 20px 48px
}
.banner-title h2 {
	font-size: 28px;
	line-height: 34px
}
.banner-title h5 {
	font-size: 16px;
	line-height: 20px
}
.login {
	padding: 12px 20px
}
.card.live h3 {
	font-size: 40px;
	line-height: 48px
}
.bbb {
	text-align: center
}
.bbaa {
	position: relative;
	top: 0
}
.bbbbox {
	padding: 48px 0
}
.bbaa.rr {
	position: relative;
	top: 0
}
.bbaa.rr .card {
	position: relative;
	top: 0!important
}
.banner-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center
}
}@media (max-width: 575px) {
	.container {
	padding: 0 12px
}
.bn-contain.container {
	margin: 0 auto;
	padding: 0
}
.img-box {
	border-radius: 4px
}
.banner {
	margin: 0 auto
}
.hot-contain.container,.myco.container {
	padding: 0 12px
}
.bbbbbox {
	flex-direction: column;
	justify-content: center;
	align-items: center
}
.bbbbbox h2 {
	text-align: center
}
.bbbbbox .box-r {
	align-items: center
}
}