.container.banner{
    margin: 0 auto 80px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.bg-about{
    width: 100%;
    height: 454px;
}
.bg-about-sm{
    width: 100%;
    height: 240px;
}
.about h1{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}
.reverse{
    flex-direction: row-reverse;
}
.contain{
    margin: 80px auto;
}
.contain .row{
    margin: 0 -12px 60px;
}

.contain .col-lg-6:nth-child(2){
    padding:0 40px;
}
.contain h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}
.contain p{
    color: $gray-400;
    font-size: 16px;
    line-height: 24px;
}
.contain ul li{
    color: $gray-400;
    padding: 4px 0;
}
.contain .img-fluid{
    width: 100%;
}
.history{
    background: $pimary-200;

}
.history .row{
    padding: 80px 24px;
}
.era{
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
}
.era:last-child{
    margin-bottom: 0;
}
.era>span{
    background: $pimary-400;
    color: $gray-100;
    padding: 12px;
    font-size: 24px;
    font-family: "Newsreader" ;
}
.month{
    display: flex;
}
.month h6{
    white-space:nowrap;
    font-family:"Newsreader","Noto Serif TC" ;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: $gray-400;
    margin-left: 72px;
    width: 64px;
}
.month h6>span{
    font-size: 16px ;
    line-height: 20px;
    padding: 0;
    color: $gray-400;
    background: transparent;
}
.month p{
    color: $gray-600;
    padding-left: 1rem;
    border-left: 1px solid $gray-300;
}
.mini-container.vision{
    border: unset;
    background: transparent;
    padding: 0;
}
.mini-container.vision h2{
    text-align: center;
}
.mini-container.vision p{
    color: $gray-400;
}

@media (max-width:767px) {
    .month h6{
        font-size: 16px;
        line-height: 24px;
        width: 45px;
    }
    .month p{
        padding-left: .5rem;
    }
    .container.banner {
        margin: 0 auto 40px;
    }
    .container-fluid.history .container{
        margin: 0 auto;
    }
    .contain{
        margin: 40px auto 0;
    }
    .container.about{
        margin: 0 auto;
    }
    .reverse{
        flex-direction: column;
    }
    .contain .row{
        margin: 0 -12px;
    }
    .contain .col-12:nth-child(2) {
        padding:24px;
    }
    .contain .col-lg-6:nth-child(1){
        padding: 0;
       
    }
    .contain .col-lg-6 .img-fluid{
        border-radius: 0;
    }
    .col-12.col-lg-4 h2{
        text-align: center;
    }
    .era>span{
        font-size: 16px;
        padding: 12px;
        margin-bottom: 24px;
    }
    .era{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .month h6{
        margin-left: 0;
    }
    .history .row {
        padding: 40px 12px;
    }

    .mini-container.vision{
        padding: 0 24px;
    }
}